body, html{
    height:100%;
    margin:0;
    font-size:16px;
    font-family:"Lato", sans-serif;
    font-weight:400;
    line-height:1.8em;
    color:#666;
  }
  
  nav {
    position: fixed;
    z-index: 100;
    height: 8vh;
    width: 96%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
  }
  
  .logo {
    color: white;
    font-weight: 600;
    font-size: 16px;
  }
  
  nav .nav-links ul {
    display: flex;
    flex-direction: row;
    text-decoration: none;
  }
  
  nav .nav-links ul li {
    padding: 0 4px;
    list-style: none;
   
  }
  
  nav .nav-links ul li a {
    text-decoration: none;
    display: block;
    margin: 10px 0;
    padding: 10px 20px;
    text-decoration: none;
    color: white;
   
  }
  
  nav .nav-links ul li a.active,
  nav .nav-linksul li a:hover {
      background: black;
      color: #ffff;
      transition: 0.5s;
  
  }



  .pimg1, .pimg2, .pimg3, .pimg4, .pimg5, .pimg6, .pimg7, .pimg8, .pimg9, .pimg10, .pimg11, .pimg12{
    position:relative;
    opacity:0.9;
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;

    
  
    /*
      fixed = parallax
      scroll = normal
    */
    background-attachment:fixed;
  }
  
  .pimg1{
    background-image:url('images/ship.jpg');
    min-height:100%;
  }
  
  .pimg2{
    background-image:url('images/ship2.jpg');
    min-height:400px;
  }
  
  .pimg3{
    background-image:url('images/characters.jpg');
    min-height:400px;
  }

  .pimg4{
    background-image:url('images/smile.jpg');
    min-height:100%;
  }

  .pimg5{
    background-image:url('images/warrior1.jpg');
    min-height:100%;
  }
  
  .pimg6{
    background-image:url('images/warrior2.jpg');
    min-height:400px;
  }
  
  .pimg7{
    background-image:url('images/warrior4.jpg');
    min-height:400px;
  }

  .pimg8{
    background-image:url('images/warrior3.png');
    min-height:100%;
  }

  
  .pimg9{
    background-image:url('images/merch1.jpg');
    min-height:100%;
  }
  
  .pimg10{
    background-image:url('images/merch2.jpg');
    min-height:400px;
  }
  
  .pimg11{
    background-image:url('images/merch4.jpg');
    min-height:400px;
  }

  .pimg12{
    background-image:url('images/merch3.jpg');
    min-height:100%;
  }
  
  .section{
    text-align:center;
    padding:50px 80px;
  }
  
  .section-light{
    background-color:#f4f4f4;
    color:#666;
  }
  
  .section-dark{
    background-color:#282e34;
    color:#ddd;
  }
  
  .ptext{
    position:absolute;
    top:50%;
    width:100%;
    text-align:center;
    color:#000;
    font-size:27px;
    letter-spacing:8px;
    text-transform:uppercase;
  }
  
  .ptext .border{
    background-color:#111;
    color:#fff;
    padding:20px;
  }
  
  .ptext .border.trans{
    background-color:transparent;
  }
  
  @media(max-width:568px){
    .pimg1, .pimg2, .pimg3{
      background-attachment:scroll;
    }
  }
  