

.about{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-bottom: 0rem;
}

.about .image{
    flex:2 2 30rem;
}

.about .image img{
    width:90%;
  
}

.about .content{
    flex:1 1 40rem;
  
}

.about .content h1{
   
    font-size: 5rem;
    color:#444;
}

.about .content p{
    font-size: 1.5rem;
    color:#666;
    padding:1rem 0;
}