body {
    background-image: url('ciit.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    
  }

  h1 {
      color:black;

    font-style: italic;
    text-align: center;
   font-size: 15mm;
   height: 80%;
   
 
  }

  h2 {
      text-align: center;
      font-size: 5mm;
      
  }

  #intro {
      font-size: 7mm;
      
  }
  
  #intro2 {
    font-size: 5mm;
    text-align:center;
    background-color: brown;
    color: peachpuff;
  }

 




  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
