@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100;300&family=Open+Sans:wght@300;600&display=swap');



:root {
    --orange:hsl(185, 85%, 38%);

}


body {
    margin: 0;
    padding: 0;
   background-color: black;
    

}

header {

    position: relative;
    max-width: 1200px;
    margin: 20px auto;
    padding: 10px;
    background: rgb(179, 4, 4);
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);




}


header .logo {
    color: black;
    height: 60px;
    font-size: 36px;
    line-height: 60px;
    padding: 0 20 px;
   
    text-align: center;
    box-sizing: border-box;
    float: left;
    font-weight: 700;
    text-decoration: none;


}

header nav {
    float: right;

}

header .clearfix {

    clear: both;

}

header nav ul {
    margin: 0;
    padding: 0;
    display: flex;
}

header nav ul li {
    list-style: none;
}

header nav ul li a {
    display: block;
    margin: 10px 0;
    padding: 10px 20px;
    text-decoration: none;
    color: white;

}

header nav ul li a.active,
header nav ul li a:hover {
    background: black;
    color: #ffff;
    transition: 0.5s;

}

footer {
   position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    background: #111111;
    height: auto;
    width: 100vw;
    font-family: "Open Sans";
    padding-top: 40px;
    color: white;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;

}

.footer-content h3 {
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}
.footer-content p {
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;

}

.socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
   
    
}

.socials li {
    margin: 0 50px;
   
    
}

.socials a {
    text-decoration: none;
    color: #ffff;
  
}

.socials a i {
    font-size: 1.5rem;
    transition: color .4s ease;
  

}

.socials a:hover i {
    color: aqua;
}

.footer-bottom {
    background: black;
    width: 100vw;
    padding: 20px 0;
    text-align: center;
}

.footer-bottom p {
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
    color: white;
}


p {
    font-weight: 300;
    color: white;
}

.banner {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("covid19.jpg");
    background-attachment: fixed;
}
.banner .content {
    max-width: 900px;
    text-align: center;

}

.banner .content h2 {

    font-size: 7em;
    color: white;
    background-color: black;
}


.banner .content p {
    font-size: 3em;
    color: white;
    background-color: black;
}

.btn {
    font-size: 1em;
    color: white;
    background: #ff0157;
    display: inline-block;
    padding: 10px 30px;
    margin-top: 20px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 0.5s;

}

.btn:hover {
    letter-spacing: 6px;
}

.row {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background: url("covid19.jpg");
    background-attachment: fixed;
}

.row .col50 {
    position: relative;
    width: 48%;
}

.titleText {
    color: white;
    font-size: 5em;
    font-weight: 300;
}
.col50 p {
    background-color: #000000;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
}
.titleText span {
    color: #ff0157;
    font-weight: 700;
    font-size: 3em;
}

.row .col50 .imgBx {
    position: relative;
    width: 100%;
    min-height: 100px;
}

.row .col50 .imgBx img {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about-section {
    background: url('covid1.jpg') no-repeat left;
    background-size: 55%;
    background-color: #ffffff;
    overflow: hidden;
    padding: 100px 0;
}

.inner-container {
    width: 55%;
    float: right;
    background-color: #ffffff;
    padding: 150px;
}

.inner-container h1 {
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 900;

}

.text {
    font-size: 20px;
    color: #545454;
    line-height: 30px;
    text-align: justify;
    margin-bottom: 40px;
}

.skills {
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    font-size: 13px;

}

.cases {
    background: url("covid19.jpg");
    background-attachment: fixed;
}
.cases h1 {
    color:white;
    font-weight: 900;
    font-size: 5em;
    text-align: center;
}

.cases img {
    width: 50%;
    margin: 1px auto;
    display: block;
}


.service{
    min-height: 100vh;
    background: black;
    background: url("covid19.jpg");
    background-attachment: fixed;
    background-position: center;
    background-attachment: fixed;
}

.service .box-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding:3rem 0;
}

.service .box-container .box{
    background: white;
    margin:10rem;
    padding:2rem;
    width:50rem;
    text-align: center;
    box-shadow: 0 0 .3rem rgba(0,0,0,.3);
}

.service .box-container .box img{
   width: 50%;
}

.service .box-container .box h3{
    font-size: 3rem;
    color:rgb(109, 3, 3);
}

.service .box-container .box p{
    font-size: 1.5rem;
    color:black;
    padding:1rem;
}

.selected {
    color: red;
}